/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==== Altering the Box model setup ====*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*==== Media Query === */
body:after {
  font-size: 150%;
  font-weight: bold;
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  background-color: hsla(180,60%,40%,0.7);
  content: "less than 750";
}
@media only screen and (min-width: 750px) {
  body:after {
    content: "750 to 1006";
    background-color: hsla(270,60%,40%,0.7);
  }
}
@media only screen and (min-width: 1006px) {
  body:after {
    content: "1006 and up";
    background-color: hsla(360,60%,40%,0.7);
  }
}





body {
  font: normal 100% "Roboto", sans-serif;
}
/*==== header area === */
header {
  height: 78px;
  width: 100%;
}
.logo {
  float:left;
  width: 106px;
  height: 48px;
  background-color: red;
}
.bar-top ul {
  float: left;
}
.bar-top li {
  display: inline-block;
  padding: 14px 0 14px 14px;
}
.widgets {
  position: absolute;
  top: 0;
  right:0;
  height: 48px;
  width: 200px;
  background-color: lightgray;
}
.promo-header {
  height: 30px;
  width: 100%;
  background-color: #fd3;
  padding: 5px 0 5px 120px;
}
/*==== Three amin articles === */
.row {
  height: 460px;
  padding: 0.5%;

}

.col-2-3 {
  float: left;
  width:65.5%;
  background-color: blue;
  height: 100%;
  margin-right: 0.5%;
  position: relative;
}

.col-1-3 {
  width: 33%;
  height: 49%;
  background-color: red;
  position: relative;
  float:left;

}
.col-top {
  margin-bottom: 0.5%;

}
/*==== Latest news section === */
.container {
  width: 100%;
  padding: 2% 2%;

}
.news-box {
  width: 22.5%;
  float: left;
  margin-right: 2%;
}
.news-img {
  width: 100%;
  height:200px;
  background-color: green;
  margin-bottom: 2%;
}


.ad-nav {
  float: right;
}
.ad-nav li {
  display: inline-block;
}
.ad-box {
  width: 22.5%;
  float: left;
  margin-right: 2%;
}
.containers {
  width: 90%;
  margin: auto;
  padding: 2% 0 2% 2%;

}
.brand {

  height: 40px;
  background-color: orange;
}
.numbers {

  height: 60px;
  background-color: pink;
}
.ad-info {
  border-bottom: 1px solid pink;
}

.category-box {
  width: 30.66%;
  display: inline-block;
  margin-right: 2%;
  float: left;
}

.category-img {
  height: 300px;
  background-color: lightblue;
}
.latest {
  height: 100px;
  background-color: pink;
}
h1 {
  color: white;
  font-size: 8em;
}

.col-titles {
  position: absolute;
  bottom: 1%;
  left: 1%;
}
.date {
  position: absolute;
  top: 1%;
  right: 1%;
}
.row {
  color: white;
}
.category {
  font-size: 1.2em;
}
.big {
  font-size: 3.5em;
}
.medium {
  font-size: 2em;
}
.author {
  color: lightgray;
}
.subs {
  color: orange;
  font-size: 2em;
  font-weight: bold;
}


@media only screen and (max-width: 1060px) {
  h1,
  .date {
    display: none;
  }
  .category {
    font-size: 1em;
  }
  .medium {
    font-size: 1.6em;
  }
  .big {
    font-size: 2.5em;
  }
  .row {
    height: 360px;
  }
  .news-box,
  .ad-box {
    width: 30.66%;
  }
  .ad-nav {
    float: left;
  }
  .category-box {
    width: 47%;
  }
}

@media only screen and (max-width: 750px) {
  h1,
  .date {
    display: none;
  }
  .category {
    font-size: 1em;
  }
  .medium {
    font-size: 1.6em;
  }
  .big {
    font-size: 2.5em;
  }
  .row {
    height: 600px;
  }
  .col-1-3,
  .col-2-3 {
    width: 100%;
    height: 30%;
    margin-bottom: 1%;
  }
  .bar-top {
    display: none;
  }
  .news-box {
    width: 100%;
    height: 100px;
    float: left;
  }

  .ad-box {
    width: 100%;
    float: none;
    margin-top: 2%;
  }
  .news-img {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 2%;
  }

  .ad-nav {
    float: none;
  }
  .ad-nav li {
    display:block;
  }
  .category-box {
    width: 100%;
  }
  .promo-header p {
    font-size: 0.9em;

  }
  .promo-header {
    padding: 5px 0 5px 0px;
  }
}
